In [22]:
#!pip3 install pandas
#!pip3 install altair

Collecting altair
  Downloading altair-4.1.0-py3-none-any.whl (727 kB)
     |████████████████████████████████| 727 kB 1.4 MB/s eta 0:00:01
Requirement already satisfied: jsonschema in ./env/lib/python3.7/site-packages (from altair) (3.2.0)
Requirement already satisfied: numpy in ./env/lib/python3.7/site-packages (from altair) (1.18.5)
Requirement already satisfied: jinja2 in ./env/lib/python3.7/site-packages (from altair) (2.11.2)
Collecting toolz
  Downloading toolz-0.10.0.tar.gz (49 kB)
     |████████████████████████████████| 49 kB 6.1 MB/s eta 0:00:011
Requirement already satisfied: pandas>=0.18 in ./env/lib/python3.7/site-packages (from altair) (1.0.5)
Requirement already satisfied: entrypoints in ./env/lib/python3.7/site-packages (from altair) (0.3)
Requirement already satisfied: six>=1.11.0 in ./env/lib/python3.7/site-packages (from jsonschema->altair) (1.15.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in ./env/lib/python3.7/site-packages (from jsonschema->altair) (1.6.1)
Requirement already satisfied: setuptools in ./env/lib/python3.7/site-packages (from jsonschema->altair) (47.1.1)
Requirement already satisfied: pyrsistent>=0.14.0 in ./env/lib/python3.7/site-packages (from jsonschema->altair) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in ./env/lib/python3.7/site-packages (from jsonschema->altair) (19.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in ./env/lib/python3.7/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in ./env/lib/python3.7/site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./env/lib/python3.7/site-packages (from pandas>=0.18->altair) (2020.1)
Requirement already satisfied: zipp>=0.5 in ./env/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema->altair) (3.1.0)
Building wheels for collected packages: toolz
  Building wheel for toolz (setup.py) ... done
  Created wheel for toolz: filename=toolz-0.10.0-py3-none-any.whl size=55575 sha256=ea05a1a0a415a4460d22aba15f7e9f0c0c193775d28a6ef80d1f03a93fb530db
  Stored in directory: /Users/maxwell/Library/Caches/pip/wheels/e2/83/7c/248063997a4f9ff6bf145822e620e8c37117a6b4c765584077
Successfully built toolz
Installing collected packages: toolz, altair
Successfully installed altair-4.1.0 toolz-0.10.0

In [14]:
import pandas as pd

This dataset is downloaded and extracted in `"hotels_eda.Rmd"`

In [4]:
pluto_raw = pd.read_csv("data-raw/pluto_20v4.csv")

/Users/maxwell/repos/exploratory-data-analysis/env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,24,26,64,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
pluto_raw = pd.read_csv("data-raw/pluto_20v4.csv", 
                        dtype = {"ltdheight" : "object", "zonedist4" : "object",
                                 "zonedist2" : "object", "overlay1" :  "object",
                                 "spdist1" : "object", "histdist" :  "object",
                                 "version" : "object"})

In [9]:
pluto_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858986 entries, 0 to 858985
Data columns (total 90 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   borough               858986 non-null  object
 1   block                 858986 non-null  int64
 2   lot                   858986 non-null  int64
 3   cd                    857605 non-null  float64
 4   ct2010                857605 non-null  float64
 5   cb2010                857605 non-null  float64
 6   schooldist            856901 non-null  float64
 7   council               857604 non-null  float64
 8   zipcode               856882 non-null  float64
 9   firecomp              856883 non-null  object
 10  policeprct            856893 non-null  float64
 11  healthcenterdistrict  856894 non-null  float64
 12  healtharea            856894 non-null  float64
 13  sanitboro             856692 non-null  float64
 14  sanitdistrict         856692 non-null  float64
 15  sanitsub              856562 non-null  object
 16  address               858553 non-null  object
 17  zonedist1             856913 non-null  object
 18  zonedist2             19832 non-null   object
 19  zonedist3             211 non-null     object
 20  zonedist4             13 non-null      object
 21  overlay1              74720 non-null   object
 22  overlay2              167 non-null     object
 23  spdist1               101722 non-null  object
 24  spdist2               77 non-null      object
 25  spdist3               0 non-null       float64
 26  ltdheight             3036 non-null    object
 27  splitzone             856913 non-null  object
 28  bldgclass             858553 non-null  object
 29  landuse               856130 non-null  float64
 30  easements             858553 non-null  float64
 31  ownertype             36249 non-null   object
 32  ownername             858437 non-null  object
 33  lotarea               858459 non-null  float64
 34  bldgarea              858544 non-null  float64
 35  comarea               810885 non-null  float64
 36  resarea               810885 non-null  float64
 37  officearea            810885 non-null  float64
 38  retailarea            810885 non-null  float64
 39  garagearea            810885 non-null  float64
 40  strgearea             810885 non-null  float64
 41  factryarea            810885 non-null  float64
 42  otherarea             810885 non-null  float64
 43  areasource            858553 non-null  float64
 44  numbldgs              858459 non-null  float64
 45  numfloors             858459 non-null  float64
 46  unitsres              858553 non-null  float64
 47  unitstotal            858553 non-null  float64
 48  lotfront              858459 non-null  float64
 49  lotdepth              858459 non-null  float64
 50  bldgfront             858459 non-null  float64
 51  bldgdepth             858459 non-null  float64
 52  ext                   800369 non-null  object
 53  proxcode              858553 non-null  float64
 54  irrlotcode            858553 non-null  object
 55  lottype               858553 non-null  float64
 56  bsmtcode              858553 non-null  float64
 57  assessland            858553 non-null  float64
 58  assesstot             858553 non-null  float64
 59  exempttot             858553 non-null  float64
 60  yearbuilt             858553 non-null  float64
 61  yearalter1            858553 non-null  float64
 62  yearalter2            858553 non-null  float64
 63  histdist              30892 non-null   object
 64  landmark              1440 non-null    object
 65  builtfar              858143 non-null  float64
 66  residfar              858553 non-null  float64
 67  commfar               858553 non-null  float64
 68  facilfar              858553 non-null  float64
 69  borocode              858986 non-null  int64
 70  bbl                   858986 non-null  float64
 71  condono               8550 non-null    float64
 72  tract2010             857605 non-null  float64
 73  xcoord                857507 non-null  float64
 74  ycoord                857507 non-null  float64
 75  zonemap               856980 non-null  object
 76  zmcode                15618 non-null   object
 77  sanborn               856973 non-null  object
 78  taxmap                856973 non-null  float64
 79  edesignum             0 non-null       float64
 80  appbbl                92889 non-null   float64
 81  appdate               92889 non-null   object
 82  plutomapid            858986 non-null  int64
 83  firm07_flag           34708 non-null   float64
 84  pfirm15_flag          65747 non-null   float64
 85  version               858986 non-null  object
 86  dcpedited             40564 non-null   object
 87  latitude              857507 non-null  float64
 88  longitude             857507 non-null  float64
 89  notes                 562 non-null     float64
dtypes: float64(59), int64(4), object(27)
memory usage: 589.8+ MB

In [10]:
pluto_raw.describe()

,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,policeprct,healthcenterdistrict,...,ycoord,taxmap,edesignum,appbbl,plutomapid,firm07_flag,pfirm15_flag,latitude,longitude,notes
count,858986.000000,858986.000000,857605.000000,857605.000000,857605.000000,856901.000000,857604.000000,856882.000000,856893.000000,856894.000000,...,857507.000000,856973.000000,0.0,9.288900e+04,858986.000000,34708.0,65747.0,857507.000000,857507.000000,562.0
mean,5308.505546,136.670258,354.674474,462.372423,2054.569428,22.054722,32.113845,11011.574747,87.042656,38.304495,...,191292.816702,36717.569004,NaN,3.745066e+09,1.003586,1.0,1.0,40.691644,-73.921712,1.0
std,3699.742895,760.193002,100.889053,377.638847,1158.463605,7.980609,13.248292,471.469500,29.368790,9.620497,...,30773.303508,10860.813341,NaN,1.222853e+09,0.078111,0.0,0.0,0.084458,0.118024,0.0
min,0.000000,1.000000,101.000000,1.000000,1.000000,1.000000,1.000000,10001.000000,1.000000,11.000000,...,120146.000000,1.000000,NaN,1.000020e+09,1.000000,1.0,1.0,40.496171,-74.255628,1.0
25%,2313.250000,19.000000,306.000000,170.000000,1004.000000,17.000000,22.000000,10466.000000,66.000000,33.000000,...,167905.000000,31102.000000,NaN,3.023030e+09,1.000000,1.0,1.0,40.627508,-73.981952,1.0
50%,4814.000000,39.000000,402.000000,350.000000,2001.000000,24.000000,32.000000,11221.000000,102.000000,41.000000,...,189027.000000,40601.000000,NaN,4.049540e+09,1.000000,1.0,1.0,40.685426,-73.911502,1.0
75%,7462.000000,64.000000,412.000000,662.000000,3000.000000,29.000000,45.000000,11370.000000,111.000000,45.000000,...,210902.000000,44702.000000,NaN,5.022590e+09,1.000000,1.0,1.0,40.745446,-73.837738,1.0
max,99999.000000,9502.000000,595.000000,9901.000000,9003.000000,32.000000,51.000000,12345.000000,123.000000,51.000000,...,272730.000000,53203.000000,NaN,5.080490e+09,5.000000,1.0,1.0,40.915219,-73.700381,1.0

In [19]:
pluto_hotels = (pluto_raw
    .query("bldgclass.str.match(r'H') > 0")
    .loc[:, ['bbl', 'borough', 'bldgarea', 'latitude', 'longitude']]
)

pluto_hotels

                 bbl borough  bldgarea   latitude  longitude
682     1.000290e+09      MN   24238.0  40.704580 -74.010272
700     1.000410e+09      MN   49197.0  40.706723 -74.008169
1102    1.001960e+09      MN   31214.0  40.719064 -74.001753
1760    1.004960e+09      MN   48479.0  40.722992 -73.997399
1934    1.005130e+09      MN   67452.0  40.724913 -73.998669
...              ...     ...       ...        ...        ...
853516  1.005500e+09      MN    6850.0  40.731624 -73.995519
853523  1.005500e+09      MN   22083.0  40.731490 -73.995198
853882  1.020680e+09      MN   33756.0  40.830730 -73.941743
857123  1.012720e+09      MN   54959.0  40.762912 -73.975356
858071  3.018660e+09      BK   19816.0  40.678843 -73.951177

[1086 rows x 5 columns]

In [21]:
boro_hotel_stats = (pluto_hotels
 .groupby(['borough'])
 .agg(
    n_hotels=('bbl', 'count'), 
    tot_bldg_area=('bldgarea', 'sum')
 )
 .reset_index()
 .head()
)

boro_hotel_stats

  borough  n_hotels  tot_bldg_area
0      BK       169      7076410.0
1      BX        72      1741019.0
2      MN       625     64339101.0
3      QN       204     10632419.0
4      SI        16       693994.0

In [24]:
import altair as alt

alt.Chart(boro_hotel_stats).mark_bar().encode(
  x='borough',
  y='n_hotels'
)

alt.Chart(...)